*{
    margin: 0;
    padding: 0;
}

table {
    font-family: 'Segoe UI', sans-serif;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 50px 100px;
    
}

th {
    background-color: rgba(56, 212, 51, 0.726);
    font-size: 200%;
}

tbody td {
    text-align: center;
    vertical-align: middle;
    font-size: 200%;
}


tr:nth-child(even) {
    background-color: rgba(223, 222, 222, 0.507);
}

tr:nth-child(odd) {
    background-color: rgb(250, 249, 249);
}

 thead tr {
    position: sticky;
    top: 0;
    z-index: 2;
} 

tbody th {
    position: sticky;
    left: 0;
} 